---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <h1
    class="font-kanit bg-gradient-2 py-6 text-center text-5xl font-black text-black"
  >
    Hello World
  </h1>
</BaseLayout>
